.flex-nowrap {
    flex-wrap: nowrap !important;
}

.q-focus-helper {
    border: 1px solid var(--color--grey-375) !important;
}

.q-btn--rectangle {
    border-radius: 32px !important;
}

.q-btn {
    text-transform: none !important;
    box-shadow: none !important;
    background-color: var(--color--grey-25);
    line-height: 1em;
    padding: 12px 16px !important;
}
.q-btn__content{
    line-height: normal;
    font-size: 16px 
}
.q-btn .q-icon{
    font-size: 1em !important;
}

.q-btn::before {
    box-shadow: none !important;
}

.q-btn--outline:before {
    border-color: var(--color--grey-375) !important;
}

.q-focus-helper {
    border: none !important;
}
