.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-nav {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.header-nav__item {
    padding: 6px 10px;
    color: var(--color--grey-525);
}
.active {
    color: black;
}
